:root > * {
  --md-primary-fg-color: #15151e;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #b70000;
  --md-typeset-a-color: #b70000;
}

.md-header {
  border-bottom: 2px solid #b70000;
}

h1 {
  padding: 10px 0 10px 20px;
  border-bottom: 2px solid #b70000;
  background-color: #15151e;
}
